In [106]:
import pandas as pd
from IPython.display import display

In [107]:
ct_bike = pd.read_csv('data\citibike-tripdata.csv')
display(ct_bike)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [108]:
ct_bike['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [109]:
ct_bike['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [110]:
ct_bike['start station id'].nunique() == ct_bike['end station id'].nunique

False

In [111]:
ct_bike['starttime'] = pd.to_datetime(ct_bike['starttime'])
ct_min = ct_bike['starttime'].dt.year - ct_bike['birth year']
display(ct_min.sort_values())

235365     16
210699     16
179320     16
97419      16
139384     16
         ...
9535      133
124304    133
8904      133
6440      133
132655    133
Length: 300000, dtype: int64

In [112]:
ct_bike['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [113]:
ct_bike = ct_bike.drop(columns=['end station id','start station id'])

In [114]:
len(ct_bike.columns)

12

In [115]:
ct_bike['age'] = ct_min
ct_bike['age'].astype(int)
ct_more_60 = ct_bike['age']>60
ct_more_60.value_counts()

False    288163
True      11837
Name: age, dtype: int64

In [123]:
ct_bike['starttime']=pd.to_datetime(ct_bike['starttime'])
ct_bike['stoptime']=pd.to_datetime(ct_bike['stoptime'])
ct_bike['trip duration']=ct_bike['stoptime']-ct_bike['starttime']
ct_bike['trip duration'].mean().seconds

1126

In [117]:
# ct_bike['trip duration'] = (ct_bike['stoptime'].dt.hour*3600 +ct_bike['stoptime'].dt.minute*60+ct_bike['stoptime'].dt.second) -(ct_bike['starttime'].dt.hour*3600 +ct_bike['starttime'].dt.minute*60+ct_bike['starttime'].dt.second)

In [118]:
ct_bike

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2,28
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1,36
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1,27
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0,43
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1,52

In [131]:
ct_bike['weekend']=ct_bike['starttime'].dt.dayofweek.apply(lambda x : 1 if x ==5 or x ==6 else 0)

In [132]:
ct_bike['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [133]:
def quater(time):
    if 0<= time <=6:
        return 'night'
    elif 6< time <=12:
        return 'morning'
    elif 12< time <=18:
        return 'day'
    else:
        return 'evening'

In [134]:
ct_bike['time_of_day']=ct_bike['starttime'].dt.hour.apply(quater)

In [143]:
ct_bike[ct_bike['time_of_day']=='day']['time_of_day'].count()/ct_bike[ct_bike['time_of_day']=='night']['time_of_day'].count()

9.480411004308916